body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FAF3BC;
  background: url('img/photo.jpg');
}

p {
  color: #FAF3FF;
}

.container {
  background: #00F;
  padding: 0 20px;
}

#headline {
  font-family: 'Days One', sans-serif;
   margin: 10px 0;
}

a {
  color: #EE2222;
  text-decoration: none;
}

h1 {
  font-size: 1.750em;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 1.400em;
  color: #B4C34F;
}

#main_image img {
  margin-top:30px;
  border: 4px solid #AAFFAA;
  height:50px;
}

#main_side_image img {
  margin-top:30px;
  border: 8px solid #AAFFAA;
  height:200px;
  float:right;
}

.btn {
  color: #FAF3BC;
  font-size: 20px;
  background: #4F869F url('img/bg-texture.png') no-repeat right top;
  padding: 15px 30px;
  border-radius: 15px;
}

.btn:hover {
  background-color: #4CC4A7;
  text-transform: uppercase;
}

ul.nav {
  margin: 40px 0 40px 0;
  font-family: 'Days One', sans-serif;
  list-style: none;
  float: right;
}

ul.nav li {
  font-size: 1.5em;
  float: left;
  margin-right: 10px;
}

ul.nav li a {
  color: #FAF3BC;
}

#intro {
  margin: 20px 10px 30px 0;
  font-size: 1.4em;
  letter-spacing: .3px;
}

#places h2 {
  margin-left:-20px;
}

#places p {
  margin-left:-20px;
}

#places img {
  border: 8px solid #AAFFAA;
  margin-bottom: 19px;
  height:180px;
  float: right;
}

#featured  p {
    margin-right:20px;
}

#featured iframe {
  border: 8px solid #AAFFAA;
}


#copyright {
  border-top: 8px solid #2A0400;
  padding: 10px 0px; 
  margin: 15px 0px;
  text-align: center;
}
